<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Test!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css') }}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7') }}" crossorigin="anonymous" />
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        {% endblock %}
    </head>
    <body data-ng-app="elevatorApp" class="container" data-ng-controller="elevatorController" data-ng-cloak="">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/angular.min.js') }}"></script>
            <script src="{{ asset('assets/js/elevator.js') }}"></script>
        {% endblock %}
    </body>
</html>
